:root {


    --color-button-submit: rgb(220, 2, 2);
    /* Color del botón */
    --color-button-submit-hover: rgb(255, 0, 0);
    /* Color del botón al pasar el mouse */

    --color-button-follow: rgb(220, 2, 2);
    /* Color del botón de seguir */
    --color-button-follow-hover: rgb(255, 0, 0);
    /* Color del botón de seguir al pasar el mouse */


    --color-primary: #111827;
    --color-secondary: #1f2937;
    --color-success: #293749;
    --color-textarea: #1a222e;

    /*Colores botones*/
    --color-button-circle: #1f2937;
    /* Color del botón circular */
    --color-button-circle-hover: #293749;
    /* Color del botón circular al pasar el mouse */

    --color-accent: #e74c3c;
    --color-text: #ecf0f1;
    --color-text-muted: #95a5a6;

    --color-scrollbar:#293749;

    --color-button-edit-profile: rgb(220, 2, 2);
    --color-button-edit-profile-hover: rgb(255, 0, 0);

}